#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(6, auto);
  padding: 10px;
  height: 85vh;
  width: 80vw;
}
.container div {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.header {
  grid-area: 1 / 1 / 2 / -1;
}
